@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  color-scheme: light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-sans;
}

body {
  background-color: #fefcf9;
  color: #2a2e32;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
}